{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container"> 
	<div class="col-lg-12 well">
	<div class="row">
				<form class=form method="POST">
                {% csrf_token %}
				<legend class="border-bottom mb-4">Registration  Form </legend>
					<div class="col-sm-12">
                     {{form|crispy}}         
					</div>	
                    <div>
						<button class="btn btn-info" type="submit">Register</button>				
					</div>
				</for m> 
				</div>
	</div>
	</div>
{% endblock content%}
